.intro {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: flex-start;
  padding: 0 24px 0 24px;
}

.intro__title {
  max-width: 830px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 54px;
  color: #ffffff;
  line-height: 1.07;
  margin: 0;
  padding: 92px 0 40px;
}

.intro__quote {
  max-width: 738px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.42;
  margin: 0;
}

.intro__quote-author {
  max-width: 732px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.42;
  margin: 0;
  text-align: end;
  padding: 10px 0 32px;
}

.intro__description {
  max-width: 722px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.63;
  margin: 0;
}
