.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lead_title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 96px;
  color: #ffffff;
  max-width: 530px;
  margin: auto;
  text-align: center;
  margin-bottom: 25px;
  line-height: 100px;
}

.lead_subtitle {
  font-family: "Inter";
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  max-width: 720px;
  margin: auto;
  text-align: center;
  margin-bottom: 64px;
  line-height: 36px;
}

.lead_image {
  max-width: 100%;
  height: auto;
}
