.logo {
  padding: 34px 0 91px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.logo__icon {
  margin: auto;
  padding-bottom: 22.2px;
  width: 32px;
  height: 32px;
}

.logo__text {
  width: 254.54px;
  height: 14.94px;
}
