@media screen and (max-width: 544px) {
  .logo__icon {
    width: 23.69px;
    height: 23.77px;
    padding-bottom: 16.53px;
  }

  .logo__text {
    width: 188.62px;
    height: 11.1px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.25;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    padding: 64px 0 40px;
  }

  .intro__quote {
    line-height: 1.25;
  }

  .footer__copyright {
    padding: 64px 0 24px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 545px) {
  .logo__icon {
    width: 30.17px;
    height: 32px;
    padding-bottom: 20.98px;
  }

  .logo__text {
    width: 254.84px;
    height: 14.09px;
  }

  .lead__title {
    font-size: 75px;
    line-height: 1.05;
  }

  .lead__subtitle {
    margin-bottom: 30px;
  }

  .intro__title {
    font-size: 45px;
    line-height: 1.08;
    padding: 90px 0 50px;
  }

  .footer_copyright {
    padding: 88px 0 24px;
  }
}
